* {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.logo {
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 3px;
}

#accounts {
  min-width: 600px;
}

#accounts .none {
  font-size: 16pt;
  margin-bottom: 15px;
}

#accounts .institution {
  margin-bottom: 15px;
}

#accounts .institution .inst-name {
  margin-bottom: 10px;
  font-size: 20pt;
  font-weight: 300;
}

#accounts .institution > .account {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16pt;
  font-weight: 100;
}

#accounts .institution > .account .balance {
  float: right;
}

#landing {
  z-index: 1;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('images/accounting.jpeg');
  background-size: cover;
  color: #fff;
}

#landing .overlay {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
}

#landing .container {
  z-index: 3;
  position: absolute;
  top: 49%;
  left: 50%;
  margin-top: -120px;
  margin-left: -450px !important;
  width: 900px;
  height: 240px;
  text-align: center;
}

#landing .logo {
  font-size: 45pt;
  margin-bottom: 10px;
}

#landing .slogan {
  font-size: 28pt;
  font-weight: 100;
}

#landing button {
  width: 250px;
  height: 50px;
  font-size: 14pt;
}

#login .segment {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -300px;
  padding: 40px;
  width: 600px;
  border-radius: 10px;
  text-align: center;
}

#login .header {
  font-weight: 300;
  font-size: 34pt;
}

#login .welcome {
  font-weight: 300;
  font-size: 20pt;
}

#login .dropdown {
  font-size: 18pt;
}

#login .message p {
  font-size: 20pt;
  text-align: center;
}

#link .loading {
  margin-bottom: 15px;
}

#link button {
  margin-bottom: 15px;
}

#member .menu {
  font-size: 16pt;
}

#transactions .month {
  margin-bottom: 20px;
}

#transactions .date,
#transactions .total {
  font-size: 22pt;
  font-weight: 100;
}

#transactions tbody {
  font-size: 14pt;
}

#transactions .total {
  text-align: right;
}

#transactions .none {
  margin-top: 15px;
  font-size: 16pt;
  font-weight: 300;
  text-align: center;
}
